In [33]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
#import datasets
#carbon emissions data (modified from million metric tons to metric tons): https://www.eia.gov/environment/emissions/state/
#transportation data: https://www.apta.com/research-technical-resources/transit-statistics/
#population data: https://www.census.gov/newsroom/press-kits/2018/pop-estimates-national-state.html
cbon = pd.read_csv('carbon-emissions.csv')
tport = pd.read_csv('transportation.csv')
popu = pd.read_csv('population.csv')
#print(cbon.head())
#print(tport.head())

In [35]:
#filter to Unlinked Passenger Trips & Vehicle Revenue Miles
tport = tport[['State', 'Vehicle Revenue Miles']]
tport

     State  Vehicle Revenue Miles
0       WY                 853424
1       WY                  22516
2       WY                 112285
3       WY                 229595
4       WY                  66386
...    ...                    ...
3693    NE                   6946
3694    FL                  44228
3695    KS                  11051
3696    MA                  39060
3697    CA                      0

[3698 rows x 2 columns]

In [36]:
#merge state values
tport = tport.groupby('State')[['Vehicle Revenue Miles']].sum()
tport

       Vehicle Revenue Miles
State
AK                   9265669
AL                  17633916
AR                  18196673
AS                    147007
AZ                  76311667
CA                 690837942
CO                  95281540
CT                  35552797
DC                 142826631
DE                  16253314
FL                 226671427
GA                  98289578
GU                    406445
HI                  33812718
IA                  29537256
ID                   8453096
IL                 283782349
IN                  43293252
KS                  16170349
KY                  54681220
LA                  26133501
MA                 133238213
MD                  95821243
ME                  18743171
MI                 108122144
MN                  88585995
MO                  64936433
MS                  15409229
MT                   7599065
NC                  98083827
ND                   6626989
NE                  11073001
NH                   7161564
NJ                 228527992
NM                  16772694
NV                  39188348
NY                 759554156
OH                 102770740
OK                  28887537
OR                  67702047
PA                 188731731
PR                  18806646
RI                  11812067
SC                  20147806
SD                   7299763
TN                  56599298
TX                 278165845
UT                  42981174
VA                  80189807
VI                    514277
VT                  18500720
WA                 175278128
WI                  52615754
WV                  12458789
WY                   3760507

In [37]:
#merge datasets (2018)
full_df = tport.merge(cbon, on='State')
full_df = full_df[['State', 'Vehicle Revenue Miles', '2018']]
full_df.rename(columns = {'2018' : 'Carbon Emissions (Metric Tons)'}, inplace = True)
full_df = full_df.merge(popu, on='State')
full_df

   State  Vehicle Revenue Miles  Carbon Emissions (Metric Tons)  Population
0     AK                9265669                        34514589      737438
1     AL               17633916                       112355471     4887871
2     AR               18196673                        70786146     3013825
3     AZ               76311667                        94095509     7171646
4     CA              690837942                       358594718    39557045
5     CO               95281540                        90061689     5695564
6     CT               35552797                        37384241     3572665
7     DC              142826631                         2856068      702455
8     DE               16253314                        13989310      967171
9     FL              226671427                       242009113    21299325
10    GA               98289578                       141920924    10519475
11    HI               33812718                        20301213     1420491
12    IA               29537256                        82427563     3156145
13    ID                8453096                        19042761     1754208
14    IL              283782349                       213100132    12741080
15    IN               43293252                       189216168     6691878
16    KS               16170349                        62852776     2911505
17    KY               54681220                       122771335     4468402
18    LA               26133501                       194743220     4659978
19    MA              133238213                        64107395     6902149
20    MD               95821243                        61685315     6042718
21    ME               18743171                        14763073     1338404
22    MI              108122144                       163717444     9995915
23    MN               88585995                        94756050     5611179
24    MO               64936433                       124780532     6126452
25    MS               15409229                        63232526     2986530
26    MT                7599065                        31257967     1062305
27    NC               98083827                       124212734    10383620
28    ND                6626989                        59282972      760077
29    NE               11073001                        52355010     1929268
30    NH                7161564                        14239732     1356458
31    NJ              228527992                       105068884     8908520
32    NM               16772694                        45853909     2095428
33    NV               39188348                        41383070     3034392
34    NY              759554156                       175096965    19542209
35    OH              102770740                       208966675    11689442
36    OK               28887537                        98010364     3943079
37    OR               67702047                        39580131     4190713
38    PA              188731731                       220193891    12807060
39    RI               11812067                        11056924     1057315
40    SC               20147806                        74146749     5084127
41    SD                7299763                        15523995      882235
42    TN               56599298                        93835982     6770010
43    TX              278165845                       684689594    28701845
44    UT               42981174                        61248716     3161105
45    VA               80189807                       110055488     8517685
46    VT               18500720                         5854280      626299
47    WA              175278128                        78658554     7535591
48    WI               52615754                       101172770     5813568
49    WV               12458789                        89144796     1805832
50    WY                3760507                        63846081      577737

In [38]:
#get MT of carbon emissions per capita
EpC = []
for i in range (51):
    CAP = full_df._get_value(i, 'Population')
    CE = full_df._get_value(i, 'Carbon Emissions (Metric Tons)')
    val = float(CE)/float(CAP)
    EpC.append(val)
print(EpC)

full_df['Carbon Emissions per Capita (Metric Tons)'] = EpC
full_df

[46.80337736867371, 22.986586798219513, 23.487145404925634, 13.120489912636513, 9.065255455760155, 15.812602404257067, 10.463964855367072, 4.065837669316895, 14.464153701878985, 11.3622902603721, 13.49125540960932, 14.291687170140465, 26.116532351967354, 10.855474949378864, 16.72543709010539, 28.275495757693133, 21.587727309415577, 27.47544536055619, 41.79058785256068, 9.288034060116638, 10.20820680362711, 11.03035630497219, 16.378434990693698, 16.887012515551543, 20.367503409803913, 21.172573521779455, 29.424663349979525, 11.962372852627503, 77.99600829915916, 27.137240652931578, 10.497731592131862, 11.794201954982421, 21.8828368237897, 13.63801051413265, 8.959937180080308, 17.87653123220082, 24.85630239718758, 9.4447247998133, 17.193164629509038, 10.457549547675008, 14.58396869315027, 17.596213027141296, 13.860538167595026, 23.855246727170325, 19.375729689459856, 12.920821561257549, 9.347420321603579, 10.43827272472723, 17.402870319913692, 49.364944247305395, 110.51063200037387]

,State,Vehicle Revenue Miles,Carbon Emissions (Metric Tons),Population,Carbon Emissions per Capita (Metric Tons)
0,AK,9265669,34514589,737438,46.803377
1,AL,17633916,112355471,4887871,22.986587
2,AR,18196673,70786146,3013825,23.487145
3,AZ,76311667,94095509,7171646,13.120490
4,CA,690837942,358594718,39557045,9.065255
5,CO,95281540,90061689,5695564,15.812602
6,CT,35552797,37384241,3572665,10.463965
7,DC,142826631,2856068,702455,4.065838
8,DE,16253314,13989310,967171,14.464154
9,FL,226671427,242009113,21299325,11.362290
10,GA,98289578,141920924,10519475,13.491255
11,HI,33812718,20301213,1420491,14.291687
12,IA,29537256,82427563,3156145,26.116532
13,ID,8453096,19042761,1754208,10.855475
14,IL,283782349,213100132,12741080,16.725437
15,IN,43293252,189216168,6691878,28.275496
16,KS,16170349,62852776,2911505,21.587727
17,KY,54681220,122771335,4468402,27.475445
18,LA,26133501,194743220,4659978,41.790588
19,MA,133238213,64107395,6902149,9.288034
20,MD,95821243,61685315,6042718,10.208207
21,ME,18743171,14763073,1338404,11.030356
22,MI,108122144,163717444,9995915,16.378435
23,MN,88585995,94756050,5611179,16.887013
24,MO,64936433,124780532,6126452,20.367503
25,MS,15409229,63232526,2986530,21.172574
26,MT,7599065,31257967,1062305,29.424663
27,NC,98083827,124212734,10383620,11.962373
28,ND,6626989,59282972,760077,77.996008
29,NE,11073001,52355010,1929268,27.137241
30,NH,7161564,14239732,1356458,10.497732
31,NJ,228527992,105068884,8908520,11.794202
32,NM,16772694,45853909,2095428,21.882837
33,NV,39188348,41383070,3034392,13.638011
34,NY,759554156,175096965,19542209,8.959937
35,OH,102770740,208966675,11689442,17.876531
36,OK,28887537,98010364,3943079,24.856302
37,OR,67702047,39580131,4190713,9.444725
38,PA,188731731,220193891,12807060,17.193165
39,RI,11812067,11056924,1057315,10.457550
40,SC,20147806,74146749,5084127,14.583969
41,SD,7299763,15523995,882235,17.596213
42,TN,56599298,93835982,6770010,13.860538
43,TX,278165845,684689594,28701845,23.855247
44,UT,42981174,61248716,3161105,19.375730
45,VA,80189807,110055488,8517685,12.920822
46,VT,18500720,5854280,626299,9.347420
47,WA,175278128,78658554,7535591,10.438273
48,WI,52615754,101172770,5813568,17.402870
49,WV,12458789,89144796,1805832,49.364944
50,WY,3760507,63846081,577737,110.510632

In [39]:
#get vehicle revenue miles per capita
VRMpC = []
for i in range (51):
    CAP = full_df._get_value(i, 'Population')
    VRM = full_df._get_value(i, 'Vehicle Revenue Miles')
    val = float(VRM)/float(CAP)
    VRMpC.append(val)
print(VRMpC)

full_df['Vehicle Revenue Miles per Capita'] = VRMpC
full_df

[12.564675267615717, 3.60768850078081, 6.037733776845039, 10.640746489717982, 17.464346540546696, 16.72907898146698, 9.951338006782052, 203.32495462342783, 16.805005526427074, 10.64218828530951, 9.343582070398, 23.80354257788328, 9.358649871916532, 4.8187535343585255, 22.27302151779912, 6.469522008620002, 5.553948559250284, 12.237309892887883, 5.608073900778073, 19.303873764533336, 15.857308416510584, 14.004120579436403, 10.816632994578285, 15.787412057252139, 10.599353916426669, 5.159576163641416, 7.153374030998631, 9.446014684666812, 8.71883901236322, 5.739483057822967, 5.279606150724903, 25.652745012639585, 8.00442391721405, 12.914728222325921, 38.86736427800972, 8.791757553525652, 7.326137011203681, 16.15525735119537, 14.73653836243447, 11.171757707022032, 3.9628840900315825, 8.274170714152126, 8.3602975475664, 9.691566691967015, 13.596882735625675, 9.414507228196394, 29.539756569945027, 23.260037334828816, 9.05050977299999, 6.899196049244891, 6.5090291949451045]

,State,Vehicle Revenue Miles,Carbon Emissions (Metric Tons),Population,Carbon Emissions per Capita (Metric Tons),Vehicle Revenue Miles per Capita
0,AK,9265669,34514589,737438,46.803377,12.564675
1,AL,17633916,112355471,4887871,22.986587,3.607689
2,AR,18196673,70786146,3013825,23.487145,6.037734
3,AZ,76311667,94095509,7171646,13.120490,10.640746
4,CA,690837942,358594718,39557045,9.065255,17.464347
5,CO,95281540,90061689,5695564,15.812602,16.729079
6,CT,35552797,37384241,3572665,10.463965,9.951338
7,DC,142826631,2856068,702455,4.065838,203.324955
8,DE,16253314,13989310,967171,14.464154,16.805006
9,FL,226671427,242009113,21299325,11.362290,10.642188
10,GA,98289578,141920924,10519475,13.491255,9.343582
11,HI,33812718,20301213,1420491,14.291687,23.803543
12,IA,29537256,82427563,3156145,26.116532,9.358650
13,ID,8453096,19042761,1754208,10.855475,4.818754
14,IL,283782349,213100132,12741080,16.725437,22.273022
15,IN,43293252,189216168,6691878,28.275496,6.469522
16,KS,16170349,62852776,2911505,21.587727,5.553949
17,KY,54681220,122771335,4468402,27.475445,12.237310
18,LA,26133501,194743220,4659978,41.790588,5.608074
19,MA,133238213,64107395,6902149,9.288034,19.303874
20,MD,95821243,61685315,6042718,10.208207,15.857308
21,ME,18743171,14763073,1338404,11.030356,14.004121
22,MI,108122144,163717444,9995915,16.378435,10.816633
23,MN,88585995,94756050,5611179,16.887013,15.787412
24,MO,64936433,124780532,6126452,20.367503,10.599354
25,MS,15409229,63232526,2986530,21.172574,5.159576
26,MT,7599065,31257967,1062305,29.424663,7.153374
27,NC,98083827,124212734,10383620,11.962373,9.446015
28,ND,6626989,59282972,760077,77.996008,8.718839
29,NE,11073001,52355010,1929268,27.137241,5.739483
30,NH,7161564,14239732,1356458,10.497732,5.279606
31,NJ,228527992,105068884,8908520,11.794202,25.652745
32,NM,16772694,45853909,2095428,21.882837,8.004424
33,NV,39188348,41383070,3034392,13.638011,12.914728
34,NY,759554156,175096965,19542209,8.959937,38.867364
35,OH,102770740,208966675,11689442,17.876531,8.791758
36,OK,28887537,98010364,3943079,24.856302,7.326137
37,OR,67702047,39580131,4190713,9.444725,16.155257
38,PA,188731731,220193891,12807060,17.193165,14.736538
39,RI,11812067,11056924,1057315,10.457550,11.171758
40,SC,20147806,74146749,5084127,14.583969,3.962884
41,SD,7299763,15523995,882235,17.596213,8.274171
42,TN,56599298,93835982,6770010,13.860538,8.360298
43,TX,278165845,684689594,28701845,23.855247,9.691567
44,UT,42981174,61248716,3161105,19.375730,13.596883
45,VA,80189807,110055488,8517685,12.920822,9.414507
46,VT,18500720,5854280,626299,9.347420,29.539757
47,WA,175278128,78658554,7535591,10.438273,23.260037
48,WI,52615754,101172770,5813568,17.402870,9.050510
49,WV,12458789,89144796,1805832,49.364944,6.899196
50,WY,3760507,63846081,577737,110.510632,6.509029

In [42]:
full_df.to_csv('full_data.csv')